[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.*"
pika = "==1.*"
flask = "==2.*"
python-dateutil = "==2.8.2"

[dev-packages]

[requires]
python_version = "3.8"
